@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<DOCTYPE html>

    <html>
        <head>
            <meta name=" viewport" content="width=device-width"/>
            <title>Sylvester Party</title>
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        </head>

<body>
    <div class="text-center">
        <h2>Let's go to a party!</h2>
        <h3>You are also invited</h3>
        <a class="btn btn-primary" asp-action="RSVPForm">Send RSVP</a>
    </div>
</body>
    


    </html>
</DOCTYPE>