@model IEnumerable<PartyInvites.Models.GuestResponse>

@{
    Layout=null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width"/>
    <tittle>GuestAnswers</tittle>
</head>
<body>
    <h2>The list of guests on the party:</h2>
    <table>
        <thead>
            <tr>
                <th>Name and Family Name</th>
                <th>e-mail address</th>
                <th>Phone number</th>
            </tr>
        </thead>
        <tbody>
            @foreach(PartyInvites.Models.GuestResponse r in Model)
            {
                <tr>
                    <td>@r.Name</td>
                    <td>@r.Email</td>
                    <td>@r.Phone</td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>
